
/* 1) header 기본 스타일   */
.Mainheader{
  display: flex;
  width: 1440px;
  height: 80px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-shrink: 0;
  background: #000;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.12);
}
/* 2) tab 기본 스타일   */
/* 3) badge 기본 스타일   */
/* 4) input 기본 스타일   */
/* 5) form 기본 스타일   */
/* 6) btn 기본 스타일   */

/* 7) fade 기본 스타일  */

/* 8) text-color   */
  @font-face {
      font-family: 'Paperlogy-8ExtraBold';
      src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
      font-weight: 800;
      font-style: normal;
  }
/* footer */
.Mainfooter{
  display: flex;
  padding: 60px;
  justify-content: center;
  align-items: center;
  gap: 60px;
  align-self: stretch;
}

/* navbar   */
.navbar {
  display: flex;
  width: 216px;
  height: 1231px;
  padding: 1027px 22px 24px 22px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  left: 4.396px;
  bottom: 4px;
  background: #2E2E32;
}
