// components.scss
/* 2) tab 기본 스타일   */
/* 3) badge 기본 스타일   */
/* 4) input 기본 스타일   */
/* 5) form 기본 스타일   */
/* 6) btn 기본 스타일   */
$control-bg: rgba(0, 0, 0, 0.5);
$btn-color: #fff;
$btn-active-color: #f00;
$btn-size: 2rem;      // 버튼 아이콘 폰트 크기
$btn-padding: 0.5rem; // 버튼 내부 여백
$btn-gap: 1.5rem;     // 버튼 간격
$container-padding: 0.5rem;
$container-radius: 9999px; // 둥근 형태


.control-buttons {
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: $btn-gap;
  background-color: $control-bg;
  padding: $container-padding;
  border-radius: $container-radius;

  &__button {
    font-size: $btn-size;
    color: $btn-color;
    padding: $btn-padding;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: color 0.2s ease;

    &:focus {
      outline: none;
    }
  }
}
/* 7) fade 기본 스타일  */
/* 9) footer 기본 스타일 */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: rgb(27, 27, 27);
  color: #fff;
  text-align: center;
  line-height: 60px;
}


/* sidebar   */
.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 150px;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #0b0c10;
  padding: 3rem 0.8rem 1.5rem 0.8rem;
  gap: 1rem;
  transform: translateX(-100%); // 닫혀 있을때, 자기 너비만큼 왼쪽으로 이동
  transition: transform 0.3s ease;

  &.open {
    transform: translateX(0); // 열려 있을 때
  }
}

.toggle-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  width: 40px;
  height: 40px;
  font-size: 12px;
  border: none;
  background-color: #0b0c10;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
  z-index: 1100;
}

.toggle-btn:hover {
  background-color: #1f2833;
}


