/* 1) header 기본 스타일   */
.header-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #000;
}

.header {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  color: #fff;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 768px) {
  .header {
    padding: 15px 16px;
  }
  .header-left {
    gap: 8px;
  }
  a {
    font-size: 16px;
    padding: 6px 8px;
  }
}

@media (max-width: 480px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 12px ;
    gap: 10px;
  }
  .header-left {
    gap: 6px;
    width: 100%;
  }
  a {
    font-size: 14px;
    padding: 6px;
  }
  .header-right {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
  }
}


/* 2) tab 기본 스타일   */
/* 3) badge 기본 스타일   */
/* 4) input 기본 스타일   */
/* 5) form 기본 스타일   */
/* 6) btn 기본 스타일   */

/* 7) fade 기본 스타일  */

/* 8) text-color   */
  @font-face {
      font-family: 'Paperlogy-8ExtraBold';
      src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
      font-weight: 800;
      font-style: normal;
  }

/* 9) footer 기본 스타일 */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: rgb(27, 27, 27);
  color: #fff;
  text-align: center;
  line-height: 60px;
}


/* sidebar   */
.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 240px;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #0b0c10;
  padding: 2rem 1rem;
  gap: 1rem;
  padding: 5rem 1rem 2rem 1rem;
  transform: translateX(-100%); // 닫혀 있을때, 자기 너비만큼 왼쪽으로 이동
  transition: transform 0.3s ease;

  &.open {
    transform: translateX(0); // 열려 있을 때
  }
}

.toggle-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  width: 50px;
  height: 50px;
  border: none;
  background-color: #0b0c10;
  color: #fff;
  font-size: 1.8rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
  z-index: 1100;
}

.toggle-btn:hover {
  background-color: #1f2833;
}


