@import './base.css';

a {
  font-size: 17px;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  transition: color 0.3s ease;
  padding: 6px 10px;
  cursor: pointer;

  &:hover {
    color: #bbbbbb;
  }
}



