@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a {
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  transition: color 0.3s ease;
  padding: 8px 12px;
  cursor: pointer;

  &:hover {
    color: #bbbbbb;
  }
}


@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
