@import './base.css';
@import 'tailwindcss';

a {
  font-family: 'Pretendard', 'sans-serif';
  font-size: 18px;
  text-decoration: none;
  font-weight: 700;
  transition: color 0.3s ease;
  padding: 3px 6px;
  cursor: pointer;

  &:hover {
    color: #f2f2f2;
  }
}



